{% extends 'base.html.twig' %}
    {% block title %}Operacion{% endblock %}
    {% block breadcrumb %}
        {{ breadcrumb.breadcrumb(['Inicio','NIVEL_2','NIVEL_3']) }}
    {% endblock %}
    {% block title_portlet %}Vista de Informe{% endblock %}
    {% block stylesheetsTables %}{{ parent() }}{% endblock %}

            {% block body %}
                <div class="row">
                    <div class="col-md-12 border-blue">

                            <h4>Comparación de operaciones</h4>
                            {{ form_widget(form) }}

                            <br>
                            <button class="fa fa-filter" value="Buscar" onclick="Ejecutar">Buscar</button>

                    </div>
                </div>
            {% endblock %}

{% block javascriptsTable %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function () {
            initTableOperacion.init();
        });
    </script>
{% endblock %}